<header>
  <div class="title">
    <span class="logo-name">Bünyami</span
    ><span style="color: #e86f00; font-size: 18px" class="">n</span>
  </div>
  <nav class="navbar d-none">
    <a href="#aboutme">About me</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
  </nav>

  <img class="responsiv-icon" src="../assets/images/header/burger menu.svg" />

  <div class="responsiv-navbar">
    <div class="responsiv-nav">
      <a href="#aboutme">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
    </div>
  </div>
</header>
